html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: rgb(192, 192, 192);
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    font-weight: 900;
    color: black;
    text-align: center;
    padding-bottom: 1rem;
}
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 3rem;
    text-align: center;
    padding-bottom: 5rem;
}

.contenedor {
    background-color: white;
    -webkit-box-shadow: 0px 9px 21px 4px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 9px 21px 4px rgba(0,0,0,0.59);
    box-shadow: 0px 9px 21px 4px rgba(0,0,0,0.59);
    padding: 5rem 0;
}

.contenido {
    width: 90rem;
    text-align: center;
    margin: auto;
}

.contenido p {
    text-align: left;
}

.contenido span {
    font-weight: bold;
}